* {
    box-sizing: border-box;
}

body {
    margin: 0;
    border-top: 8px solid #6CC6C4;
}

a {
    color: #333;
    text-decoration: none;
}

.clearfix::after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}


/* title bar */
.site-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 50px;
}

.site-title {
    float: left;
}

.clinic-contact {
    float: right;
}

.telephone-number {
    font-weight: bold;
    text-align: right;
}

.opening-hours {
    border: 1px solid #aaa;
}


/* header nav */
.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.header-nav li {
    display: inline-block;
    background-color: #96DFDD;
    border: 1px solid #96FFDD;
    font-size: medium;
    width: 20%;
}

.header-nav a {
    display: block;
    padding: 25px 0;
}

.header-nav span {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.en {
    padding-top: 10px;
}

.header-nav li:first-child {
    border-radius: 5px 0 0 5px;
}

.header-nav li:last-child {
    border-radius: 0 5px 5px 0;
}


/* Contents nav */
.contents-nav {
    width: 28%;
}

.contents-nav nav:first-child {
    margin-top: 22px;
}

.contents-nav nav {
    margin-top: 26px;
}

.contents-nav h2 {
    background-color: #96DFDD;
    color: white;
    margin: 0;
    padding: 14px;
    font-size: medium;
    border: 1px solid #96FFDD;
    border-radius: 6px 6px 0 0;
}

.contents-nav ul {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    border: 1px solid #96FFDD;
    border-radius: 0 0 6px 6px;
}

.contents-nav li {
    list-style-type: none;
    border-bottom: 1px solid #96FFDD;
    border-right: 0;
    border-left: 0;
    padding: 15px 24px;
    margin: 0 10px;
    background-image: url("images/bgListIcon01.png");
    background-repeat: no-repeat;
    background-position: 5px center;
}

.contents-nav li:last-child {
    margin-bottom: 4px;
    border-bottom: 0;
}

.contents-nav a {
    font-size: 0.97em;
}