* {
    box-sizing: border-box;
}

body {
    font-family: Verdana, Arial, Helvetica, sans-serif;
    color: #515151;
    min-width: 320px;
    margin: 0;
    border-top: 8px solid #6CC6C4;
    background-color: #F6F6F6;
}

p {
    margin: 0;
}

a {
    color: #333;
    text-decoration: none;
}

.clearfix::after {
    content: ".";
    visibility: hidden;
    display: block;
    clear: both;
    height: 0;
}


.site-container {
    max-width: 1080px;
    margin: 0 auto;
    padding: 0 33px;
}


/* header title bar */
.titlebar {
    margin: 0 0 12px;
}

.site-title {
    float: left;
    margin: 32px 0 0;
}

.site-title a {
    font-size: 0;
}

.clinic-contact {
    float: right;
}

.clinic-name {
    font-size: x-small;
    text-align: right;
    margin: 10px 0;
}

.telephone-number {
    font-size: 1.57em;
    text-align: right;
    margin: 6px 0;
    background: url("images/bgTel.png") no-repeat 5px center;
}

.opening-hours {
    border: 1px solid #aaa;
    font-size: x-small;
    margin: 0px 0;
    padding: 7px 0px;
    text-align: center;
}

.closed-day {
    color: #b22c00;
}


/* header nav */
.header-nav ul {
    list-style-type: none;
    margin: 0;
    padding: 0;
    font-size: 0;
}

.header-nav li {
    display: inline-block;
    background-color: #96DFDD;
    border: 1px solid #96FFDD;
    font-size: medium;
    width: 20%;
}

.header-nav a {
    display: block;
    padding: 20px 0;
}

.header-nav span {
    display: block;
    text-align: center;
    color: white;
    font-weight: bold;
    font-size: 0.9em;
}

.en {
    padding-top: 6px;
}

.header-nav li:first-child {
    border-radius: 5px 0 0 5px;
}

.header-nav li:last-child {
    border-radius: 0 5px 5px 0;
}



/*----- Contents-wrapper -----*/
.contents-wrapper {
    margin-top: 22px;
}


/* Contents nav */
.contents-nav {
    float: left;
    width: 28%;
}

.contents-nav nav+nav {
    margin-top: 26px;
}

.contents-nav h2 {
    background-color: #96DFDD;
    color: white;
    margin: 0;
    padding: 14px;
    font-size: medium;
    border: 1px solid #96FFDD;
    border-radius: 6px 6px 0 0;
}

.contents-nav ul {
    margin: 0;
    padding: 0;
    padding-top: 2px;
    border: 1px solid #96FFDD;
    border-radius: 0 0 6px 6px;
}

.contents-nav li {
    list-style-type: none;
    border-bottom: 1px solid #96FFDD;
    border-right: 0;
    border-left: 0;
    padding: 14px 6px 14px 24px;
    margin: 0 10px;
    background-image: url("images/bgListIcon01.png");
    background-repeat: no-repeat;
    background-position: 5px center;
}

.contents-nav li:last-child {
    margin-bottom: 4px;
    border-bottom: 0;
}

.contents-nav a {
    font-size: 0.9em;
    font-weight: bold;
}

.contents-nav a:hover {
    color: #6CC6C4;
}

.contents-nav nav+nav a:hover {
    color: #AEC24C;
}


/* main */
.main-contents {
    float: right;
    width: 70%;
}

.site-image {
    display: block;
    width: 100%;
}

.updates {
    margin-top: 12px;
    padding: 18px 19px 36px;
    background-color: white;
}

.updates h2 {
    border-bottom: 3px solid #96DFDD;
    padding: 17px 0;
    margin: 14px 0;
    margin-top: 0;
}

.updates section {
    padding: 15px 8px;
    border-bottom: 1px solid #ddd;
}

.updates h2+section {
    padding-top: 13px;
}

.date {
    float: left;
    width: 20%;
    font-size: 0.8em;
    font-weight: bold;
}

.content {
    float: left;
    margin: 0;
    width: 80%;
    font-size: 0.9em;
    line-height: 1.4em;
}


/* footer */
footer[class="site-container"] {
    margin-top: 30px;
    padding-bottom: 8px;
}

.footer-nav ul {
    list-style-type: none;
    border-radius: 6px;
    margin: 0;
    padding: 0;
    font-size: 0;
    background-color: #6CC6C4;
}

.footer-nav li {
    display: inline-block;
    font-size: small;
    padding: 10px 4px 10px 21px;
    margin-left: 18px;
    background-image: url("images/bgFooterIcon.png");
    background-repeat: no-repeat;
    background-position: 0 center;
}

.footer-nav li:first-child {
    margin-left: 18px;
    padding-left: 18px;
}

.footer-nav a {
    color: white;
}

.footer-nav a:hover {
    text-decoration: underline;
}

footer p {
    font-size: small;
}

.contact {
    text-align: right;
    margin: 0;
    padding: 16px 0;
    font-size: 0.75em;
    border-bottom: 3px solid #96DFDD;
}

.adress, .tel {
    letter-spacing: 0.06em;
}

.copyright {
    text-align: center;
    margin: 11px 0;
}



/* Gradient Laplus color-code: #5FB3DF of #7FBBEA */

.header-nav a, .contents-nav h2 {
    background-color: #5FB3DF;
    background-image: linear-gradient(#9890e3 0%, #b1f4cf 100%);
    background-image: linear-gradient(#48c6ef 0%, #6f86d6 100%);
    text-shadow: 1px 1px 2px #48c6ef;
}

.header-nav a:hover {
    background-image: linear-gradient(#6f86d6 0%, #48c6ef 100%);
}

.header-nav li, .contents-nav h2, .contents-nav ul {
    border: 1px solid #5FB3DF;
}

.header-nav li {
    border-left: 0;
    border-left: 1px solid #ddd;
}

.header-nav li:first-child {
    border-left: 1px solid #5FB3DF;
}

.contents-nav li {
    border-bottom: 1px solid #5FB3DF;
}

body {
    border-top: 8px solid #5FB3DF;
}

.footer-nav ul {
    background-color: #6CC6C4;
    background-color: #48c6ef;
    background-color: #5FB3DF;
    /*
    background-image: linear-gradient(#48c6ef 0%, #6f86d6 100%);
    */
}